In [1]:
import pandas as pd
import numpy as np

In [3]:
# Load Adult dataset
dataset = pd.read_csv("../dataset/adult.data.txt",
    names=["Age", "Workclass", "fnlwgt", "Education", "Education-Num", "Martial Status",
        "Occupation", "Relationship", "Race", "Sex", "Capital Gain", "Capital Loss",
        "Hours per week", "Country", "Target"],sep=r'\s*,\s*',na_values="?",engine='python')
dataset.tail()

,Age,Workclass,fnlwgt,Education,Education-Num,Martial Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
#Find actual data count
datacount = dataset["Country"].value_counts()
print("datacount: \n", datacount)

datacount:
 United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: Country, dtype: int64

In [12]:
datacount.axes

[Index(['United-States', 'Mexico', 'Philippines', 'Germany', 'Canada',
        'Puerto-Rico', 'El-Salvador', 'India', 'Cuba', 'England', 'Jamaica',
        'South', 'China', 'Italy', 'Dominican-Republic', 'Vietnam', 'Guatemala',
        'Japan', 'Poland', 'Columbia', 'Taiwan', 'Haiti', 'Iran', 'Portugal',
        'Nicaragua', 'Peru', 'Greece', 'France', 'Ecuador', 'Ireland', 'Hong',
        'Cambodia', 'Trinadad&Tobago', 'Laos', 'Thailand', 'Yugoslavia',
        'Outlying-US(Guam-USVI-etc)', 'Honduras', 'Hungary', 'Scotland',
        'Holand-Netherlands'],
       dtype='object')]

In [5]:
# Get index of datacount, "Country"
index = list(datacount.index)
# Get value of datacount, "number each Country"
number = list(datacount.values)

In [6]:
# Set parameters for Exponential function implementation
# L1 Sentivity = 1
# Epsilon =  0, 0.01, 0.05
eps = [0.0, 0.01, 0.05]
sensitivity = 1.0

In [17]:
for i in range(3):
    # Calculate Score with Exponential Mechanism
    score = np.exp(eps[i] * datacount / (2 * sensitivity))

    # Calculate probablity of each country
    sum_score = score.sum()
    probablity = score / sum_score
    
    # Merge in one Frame
    frame = pd.concat([datacount, score, probablity], axis=1, ignore_index=True)
    frame.columns=["values", "scores", "probablity"]
    print("epsilon = " + str(eps[i]) + "\n", frame)
    print("-----------------------------------------------------------------")

epsilon = 0.0
                             values  scores  probablity
United-States                29170     1.0     0.02439
Mexico                         643     1.0     0.02439
Philippines                    198     1.0     0.02439
Germany                        137     1.0     0.02439
Canada                         121     1.0     0.02439
Puerto-Rico                    114     1.0     0.02439
El-Salvador                    106     1.0     0.02439
India                          100     1.0     0.02439
Cuba                            95     1.0     0.02439
England                         90     1.0     0.02439
Jamaica                         81     1.0     0.02439
South                           80     1.0     0.02439
China                           75     1.0     0.02439
Italy                           73     1.0     0.02439
Dominican-Republic              70     1.0     0.02439
Vietnam                         67     1.0     0.02439
Guatemala                       64     1.0     0.02439
Japan                           62     1.0     0.02439
Poland                          60     1.0     0.02439
Columbia                        59     1.0     0.02439
Taiwan                          51     1.0     0.02439
Haiti                           44     1.0     0.02439
Iran                            43     1.0     0.02439
Portugal                        37     1.0     0.02439
Nicaragua                       34     1.0     0.02439
Peru                            31     1.0     0.02439
Greece                          29     1.0     0.02439
France                          29     1.0     0.02439
Ecuador                         28     1.0     0.02439
Ireland                         24     1.0     0.02439
Hong                            20     1.0     0.02439
Cambodia                        19     1.0     0.02439
Trinadad&Tobago                 19     1.0     0.02439
Laos                            18     1.0     0.02439
Thailand                        18     1.0     0.02439
Yugoslavia                      16     1.0     0.02439
Outlying-US(Guam-USVI-etc)      14     1.0     0.02439
Honduras                        13     1.0     0.02439
Hungary                         13     1.0     0.02439
Scotland                        12     1.0     0.02439
Holand-Netherlands               1     1.0     0.02439
-----------------------------------------------------------------
epsilon = 0.01
                             values        scores    probablity
United-States                29170  2.197102e+63  1.000000e+00
Mexico                         643  2.490329e+01  1.133461e-62
Philippines                    198  2.691234e+00  1.224902e-63
Germany                        137  1.983772e+00  9.029039e-64
Canada                         121  1.831252e+00  8.334854e-64
Puerto-Rico                    114  1.768267e+00  8.048180e-64
El-Salvador                    106  1.698932e+00  7.732606e-64
India                          100  1.648721e+00  7.504073e-64
Cuba                            95  1.608014e+00  7.318797e-64
England                         90  1.568312e+00  7.138095e-64
Jamaica                         81  1.499303e+00  6.824001e-64
South                           80  1.491825e+00  6.789966e-64
China                           75  1.454991e+00  6.622321e-64
Italy                           73  1.440514e+00  6.556428e-64
Dominican-Republic              70  1.419068e+00  6.458816e-64
Vietnam                         67  1.397940e+00  6.362656e-64
Guatemala                       64  1.377128e+00  6.267929e-64
Japan                           62  1.363425e+00  6.205562e-64
Poland                          60  1.349859e+00  6.143815e-64
Columbia                        59  1.343126e+00  6.113173e-64
Taiwan                          51  1.290462e+00  5.873472e-64
Haiti                           44  1.246077e+00  5.671456e-64
Iran                            43  1.239862e+00  5.643170e-64
Portugal                        37  1.203218e+00  5.476389e-64
Nicaragua                       34  1.185305e+00  5.394856e-64
Peru                            31  1.167658e+00  5.314537e-64
Greece                          29  1.156040e+00  5.261657e-64
France                          29  1.156040e+00  5.261657e-64
Ecuador                         28  1.150274e+00  5.235414e-64
Ireland                         24  1.127497e+00  5.131746e-64
Hong                            20  1.105171e+00  5.030131e-64
Cambodia                        19  1.099659e+00  5.005043e-64
Trinadad&Tobago                 19  1.099659e+00  5.005043e-64
Laos                            18  1.094174e+00  4.980080e-64
Thailand                        18  1.094174e+00  4.980080e-64
Yugoslavia                      16  1.083287e+00  4.930527e-64
Outlying-US(Guam-USVI-etc)      14  1.072508e+00  4.881468e-64
Honduras                        13  1.067159e+00  4.857121e-64
Hungary                         13  1.067159e+00  4.857121e-64
Scotland                        12  1.061837e+00  4.832896e-64
Holand-Netherlands               1  1.005013e+00  4.574265e-64
-----------------------------------------------------------------
epsilon = 0.05
                             values        scores  probablity
United-States                29170           inf         NaN
Mexico                         643  9.578198e+06         0.0
Philippines                    198  1.411750e+02         0.0
Germany                        137  3.072264e+01         0.0
Canada                         121  2.059400e+01         0.0
Puerto-Rico                    114  1.728778e+01         0.0
El-Salvador                    106  1.415404e+01         0.0
India                          100  1.218249e+01         0.0
Cuba                            95  1.075101e+01         0.0
England                         90  9.487736e+00         0.0
Jamaica                         81  7.576111e+00         0.0
South                           80  7.389056e+00         0.0
China                           75  6.520819e+00         0.0
Italy                           73  6.202795e+00         0.0
Dominican-Republic              70  5.754603e+00         0.0
Vietnam                         67  5.338795e+00         0.0
Guatemala                       64  4.953032e+00         0.0
Japan                           62  4.711470e+00         0.0
Poland                          60  4.481689e+00         0.0
Columbia                        59  4.371036e+00         0.0
Taiwan                          51  3.578701e+00         0.0
Haiti                           44  3.004166e+00         0.0
Iran                            43  2.929993e+00         0.0
Portugal                        37  2.521868e+00         0.0
Nicaragua                       34  2.339647e+00         0.0
Peru                            31  2.170592e+00         0.0
Greece                          29  2.064731e+00         0.0
France                          29  2.064731e+00         0.0
Ecuador                         28  2.013753e+00         0.0
Ireland                         24  1.822119e+00         0.0
Hong                            20  1.648721e+00         0.0
Cambodia                        19  1.608014e+00         0.0
Trinadad&Tobago                 19  1.608014e+00         0.0
Laos                            18  1.568312e+00         0.0
Thailand                        18  1.568312e+00         0.0
Yugoslavia                      16  1.491825e+00         0.0
Outlying-US(Guam-USVI-etc)      14  1.419068e+00         0.0
Honduras                        13  1.384031e+00         0.0
Hungary                         13  1.384031e+00         0.0
Scotland                        12  1.349859e+00         0.0
Holand-Netherlands               1  1.025315e+00         0.0
-----------------------------------------------------------------

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)